body {
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

button {
  font-family: 'Helvetica', sans-serif;
  
}

#btnn{
  margin-top: 10px;
  font-size: 14px;
  height: 40px;
 background-color: #5b93b8;
 text-align: center;
}

#name{
  font-size: 20px;
}

#detail{
  font-size: 9px;
 height: 30px;
background-color: #5b93b8;
color: rgb(255, 255, 255);
text-align: center;
margin: 6px;

}

#download{
  margin-left: 670px;
 font-size:bold ;
 color: rgb(5, 21, 197);
}

#label{
  border: 2px solid rgb(88, 87, 87);
}